<nav class="fixed-top navbar-expand-lg navbar-expand-xl navbar">
   <a class="navbar-brand mr-5" href="/LeaveManager"><i class="fa fa-leaf text-green"></i> Leave Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-label="Toggle navigation">
   <span class="fa fa-bars"></span>
   </button>
   <div class="collapse navbar-collapse" style="display: inline-block;" id="navbar-toggle">
      <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" href="/LeaveManager/dashboard.php">
            <i class="fa fa-cog"></i> Dashboard</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/LeaveManager/dashboard.php?tab=1">
            <i class="fa fa-calendar"></i> Leaves</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/LeaveManager/dashboard.php?tab=4">
            <i class="fa fa-user-secret"></i> My Account</a>
         </li>
         <li class="nav-item"><a class="nav-link" title="staff-one" href="#">
            <i class="fa fa-user"></i> Staff-one</a>
         </li>
         <li class='nav-item'><a href='logout.php' class='nav-link'><i class='fa fa-sign-out'></i> Logout</a></li>
      </ul>
   </div>
</nav>
<div class="row mt-4">
   <div class="col-md-3 navigation">
      <h4 class="ml-3 hide-sm">
         <i class="fa fa-paw mr-2"></i>
         <span class="extra-sm">Staff-one</span>
      </h4>
      <ul class="main-nav">
         <li class="list-main">
            <a href="dashboard/myaccount">
            <i class="fa fa-user-circle icon"></i>
            <span class="extra-sm">My Account</span>
            </a>
         </li>
         <li class="list-main">
            <a href="dashboard/notification">
            <i class="fa fa-bell icon"></i>
            <span class="extra-sm">Leave Notifications</span>
            </a>
         </li>
         <li class="list-main">
            <a href="dashboard/jobdesc">
            <i class="fa fa-edit icon"></i>
            <span class="extra-sm">Job Description</span>
            </a>
         </li>

          <li class="list-main">
            <a href="dashboard/newleave">
            <i class="fa fa-edit icon"></i>
            <span class="extra-sm">New leave request</span>
            </a>
         </li>

          <li class="list-main">
            <a href="dashboard/archive">
            <i class="fa fa-edit icon"></i>
            <span class="extra-sm">Leave Archives</span>
            </a>
         </li>
       

      </ul>
   </div>
   <div class='col-md-8 ml-md-3'>
     <div class="main-content"><h1 class="text-center">New Leave Request</h1>
     <h1 id="resmsg" style="font-size: 16px; font-weight: normal; color: red" class="text-center"></h1>

      <form #regForm='ngForm' (ngSubmit)="Leaveregister(regForm)" > 
            <input type="hidden" name="staff_id" value="4201817073720">

            <label for="leave-type">Select leave type</label>
            <select ngModel name="leave_id" class="form-control" required="">
            <option class="leave_type" value="171521752477">Annual leave</option>
            <option class="leave_type" value="111521833755">Sick leave</option>
            <option class="leave_type" value="191521833769">Maternity leave</option>
            <option class="leave_type" value="141521833782">Paternity leave</option>
            </select><hr><label for="start">Start Date</label><br>
        <input ngModel type="date" name="leave_start_date" min="2018-06-26" id="start" class="form-control" required=""><hr>
        <label for="end">End Date</label><br>
        <input ngModel type="date" name="leave_end_date" id="end" min="2018-06-26" class="form-control" required=""><br>
        <small class="error" id="error"></small>
        <hr>
        <button class="btn btn-warning" type="submit" name="request">
        Request for a Leave</button></form></div>
   </div>
</div>
<app-footer></app-footer>

